<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- Configurations that affect the Test Framework -->
	<RunConfiguration>
		<!-- Use 0 for maximum process-level parallelization. This does not force parallelization within the test DLL (on the thread-level). You can also change it from the Test menu; choose "Run tests in parallel". Unchecked = 1 (only 1), checked = 0 (max). -->
		<MaxCpuCount>1</MaxCpuCount>
		<!-- Path relative to directory that contains .runsettings file-->
		<ResultsDirectory>.\TestResults</ResultsDirectory>

		<!-- Omit the whole tag for auto-detection. -->
		<!-- [x86] or x64, ARM, ARM64, s390x  -->
		<!-- You can also change it from the Test menu; choose "Processor Architecture for AnyCPU Projects" -->

		<!-- Any TargetFramework moniker or omit the whole tag for auto-detection. -->
		<!-- net48, [net40], net6.0, net5.0, netcoreapp3.1, uap10.0 etc. -->
		<TargetFrameworkVersion>net5.0</TargetFrameworkVersion>

		<!-- TestSessionTimeout was introduced in Visual Studio 2017 version 15.5 -->
		<!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
		<TestSessionTimeout>60000</TestSessionTimeout>

		<!-- true or false -->
		<!-- Value that specifies the exit code when no tests are discovered -->
		<TreatNoTestsAsError>true</TreatNoTestsAsError>
	</RunConfiguration>

	<!-- Configurations for data collectors -->
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="Code Coverage">
				<Configuration>
					<Format>json,cobertura,lcov,teamcity,opencover</Format>          
					<ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
					<UseSourceLink>true</UseSourceLink>
					<SkipAutoProps>true</SkipAutoProps>
				</Configuration>
			</DataCollector>

			<!-- Configuration for blame data collector -->
			<DataCollector friendlyName="blame" enabled="True">
			</DataCollector>

		</DataCollectors>
	</DataCollectionRunSettings>

	<!-- Configuration for loggers -->
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="console" enabled="True">
				<Configuration>
					<Verbosity>quiet</Verbosity>
				</Configuration>
			</Logger>
			<Logger friendlyName="trx" enabled="True">
				<Configuration>
					<LogFileName>result.trx</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="html" enabled="True">
				<Configuration>
					<LogFileName>result.html</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="blame" enabled="True" />
		</Loggers>
	</LoggerRunSettings>

	<!-- Adapter Specific sections -->

	<!-- MSTest adapter -->
	<MSTest>
		<MapInconclusiveToFailed>True</MapInconclusiveToFailed>
		<CaptureTraceOutput>False</CaptureTraceOutput>
		<DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
		<DeploymentEnabled>False</DeploymentEnabled>
		<TestTimeout>5000</TestTimeout>
	</MSTest>

</RunSettings>